@font-face {
  font-family: "leage";
  src: url(../font/LeagueSpartan-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: leage;
}
img {
  width: 100%;
}
/* *******************
HEADER navHeader
***********************/

#navHeader {
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}
.relAb {
  position: absolute;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  align-items: center;
}
h1 {
  width: 100%;
  font-size: 3rem;
  text-align: center;
}
#burger {
  padding-left: 1rem;
}
#burger .navUl {
  position: absolute;
  /* top: 4rem;
  left: -105%; */
  font-size: 1.2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  /* overflow: hidden;
  transition: all 0.4s; */
}
/* *******************
HEADER menu mobile
***********************/
#box {
  display: none;
}
#boxk:checked ~ .navUl {
  left: 0%;
}
#boxk:not(checked) ~ .navUl {
  left: -105%;
}

/* *******************
MAIN SECTION discover
***********************/
#discoverImg {
  background-image: url(../img/desktop-image-hero-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
}
#boutons {
  text-align: end;
  padding-top: 44vh;
}
#boutons button {
  border: none;
  padding: 1.2rem;
  margin: 0;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
#discoverTxt {
  padding: 3rem 1rem;
}
#discover h2 {
  font-size: 2.5rem;
}
#discover p {
  padding: 1rem 0;
  color: rgb(150, 150, 150);
}
#discoverTxt button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  letter-spacing: 0.5rem;
  font-weight: bold;
}
/* *******************
MAIN SECTION about
***********************/

#aboutImg1,
#aboutImg2 {
  width: 100%;
}
#aboutImg1 {
  background-image: url(../img/image-about-dark.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
}
#aboutImg2 {
  background-image: url(../img/image-about-light.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
}

#aboutTxt {
  padding: 3rem 1rem;
}
#aboutTxt h2 {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
#about p {
  padding: 1rem 0;
  color: rgb(150, 150, 150);
}

/* *******************
**********************
RESPONSIVE DESKTOP
***********************
***********************/
@media screen and (min-width: 576px) {
  /* 
RESPONSIVE HEADER
*/
  #burger i {
    display: none;
  }
  #burger .navUl {
    flex-direction: row;
    list-style: none;
    width: 40%;
    /* left: 0; */
  }
  #burger .navUl li {
    padding: 0 1rem;
  }
  .relAb {
    flex-direction: row-reverse;
    justify-content: start;
  }
  h1 {
    width: 20%;
    padding-left: 2rem;
  }
  /* 
RESPONSIVE MAIN DISCOVER
*/
  #discover {
    display: flex;
  }
  #discoverImg {
    height: 70vh;
    width: 67%;
  }
  #boutons {
    padding-top: 0;
    padding-top: 64vh;
  }
  #discoverTxt {
    padding: 5rem 3rem;
    width: 33%;
  }
  /* 
RESPONSIVE MAIN ABOUT
*/
  #about {
    display: flex;
  }
  #aboutTxt {
    width: 100%;
  }
  #aboutImg1,
  #aboutImg2 {
    height: 30vh;
  }
  /* FIN */
}
